fastapi
uvicorn

openai

langchain
langchain-community
langchain-openai
langgraph

yfinance
numpy
requests
finnhub-python

pandas==2.1.4
git+https://github.com/twopirllc/pandas-ta.git

python-dotenv
loguru
pydantic
